<div class="row">
  <div class=" col-lg-6 col-md-6 col-sm-6 col-6 ">

      <!--  appHighlightBoxHeader -->
      <div class="" ><b>Book list</b></div><br>

      <div class="panel-body">
          <select  (change)="ChangingValue($event)" >
              <option  *ngFor="let list of booksList" >{{list}}</option>
            </select><br>
           <p>{{firstname}}</p>
          <p>{{lastname}}</p> 
          <p>{{price}}</p> 

           <!-- <p *ngIf=bookprasent> Book <b>{{bookadded123}}</b> is added to Cart</p> 
      </div>
       <app-book-details [firstname]='firstname' [lastname]='lastname'> </app-book-details> 
     
    </div>
 <div class=" col-lg-6 col-md-6 col-sm-6 col-6 panel panel-primary" >
  <app-book-details (bookadded)='displayAddedBook($event)' [selectedBook]="selectedBook" [selectedBookinfo]="selectedBookinfo"></app-book-details> -->
  </div> 
</div>